* {
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to left bottom, #d6deeb, #a2b9f1, #7d8ff0, #6f60e6, #7615cf);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

nav .logo{
    display: flex;
    background: transparent;
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    display: flex;
    margin-right: 25px;
    list-style-type: none;
    background: transparent;
}

nav ul li {
    background: transparent;
    display: flex;
    margin-left: 35px;
    font-size: 30px;
    font-weight: 700;
}

nav ul li:hover {
    cursor: pointer;
}

.main-content {
    background: transparent;
    color: white;
    margin-bottom: 25px;
}

.content-block {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content-block img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.content-text {
    background: white;
    color: black;
    width: 800px;
    height: 350px;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}

